<% provide(:title, 'Sign up') %>
<div class="row">
    <h1>Sign up</h1>
    <p>Already a user? <%= link_to "Sign in", login_path %></p></br>

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

    
     <%= f.label "Are you a Store Owner?" %><br/><br/>
     <%= label :storeOwner, 'Yes' %>
     <%= f.radio_button :storeOwner, true %> 
     <%= label :contactmethod_email, 'No' %>
     <%= f.radio_button :storeOwner, false %> 


      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
</div>
<br/>