
<div class="right">
  <div id="addSlider">
    <%= link_to image_tag("htcad.jpg"), '#' %>
    <%= link_to image_tag("lulu.jpg"), '#' %>
    <%= link_to image_tag("sharaf.jpg"), '#' %>
  </div>
</div> 


        <% @a = [] %>
         <% @prices.each do |p| %>
         <% if @product.id == p.product_id %> 
         <% @a << p %>  
         <% end %> 
         <% @a.sort_by! {|p|p.price} %>

         <% end %> 




<div id="box">
    <div id="left">
        <%= image_tag @product.photo.url %>
    </div>

    <div id="center">
    <h1><%= @product.name %></h1>
    <div id="line2"></div>

    <div id="newDiv">
        <h3>Color</h3> 
        <div id="line3"></div>
        <p><%= @product.color %></p>

        <h3>Storage</h3> 
        <div id="line3"></div>
        <p><%=@product.storage %></p>

        <h3>Price Range</h3> 
        <div id="line3"></div>
<% if @a.count >= 2 %>

     <p><span id="range">QRS <%= @a[0].price %> - <%= @a[-1].price %></span></p>  

       <% end %> 

        <h3>Product Rating</h3>
        <div id="line3"></div>
        <span class="rating">
            <input type="radio" class="rating-input"
                id="rating-input-1-5" name="rating-input-1">
            <label for="rating-input-1-5" class="rating-star"></label>
            <input type="radio" class="rating-input"
                id="rating-input-1-4" name="rating-input-1">
            <label for="rating-input-1-4" class="rating-star"></label>
            <input type="radio" class="rating-input"
                id="rating-input-1-3" name="rating-input-1">
            <label for="rating-input-1-3" class="rating-star"></label>
            <input type="radio" class="rating-input"
                id="rating-input-1-2" name="rating-input-1">
            <label for="rating-input-1-2" class="rating-star"></label>
            <input type="radio" class="rating-input"
                id="rating-input-1-1" name="rating-input-1">
            <label for="rating-input-1-1" class="rating-star"></label>
        </span>
        
        <h3>Product Popularity</h3>
        <div id="line3"></div>
            <div class="container">
              <div class="progress_wrapper pink_blue">
                <span class="pink_blue tooltip">80%</span>
                <progress max="100" value="80" class="pink_blue">
                  <strong>Progress: 80% done.</strong>
                </progress>
              </div>
            </div>
    </div>


    </div>

    <div id="rightNone">
    </div>
</div>


<div id="box2">
</div>
<div id="extra">
<div id = "tab">
    <ul class="tabs" data-persist="true">
        <li><a href="#view1">Compare prices </a></li>
        <li><a href="#view2">Product information </a></li>
        <li><a href="#view3">Product reviews </a></li>
        <li><a href="#view4">Local shop </a></li>
    </ul>
    
    <div class="tabcontents">
        <div id="view1">
            <table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
                <tr><th>Retailers</th><th>Availability</th><th>Price</th></tr><!-- Table Header -->


                  <% @a.each do |price| %>
                
  
                <tr><td><%= image_tag price.store.photo.url %></td><td>Yes</td><td><%= price.price %>QRS</td>
                      </tr>

                      <% end %> 


              

            </table>
        </div>

        <div id="view2">
            <h2>Product Information</h2>
            <p>Product</p>
            <p>Product Properties</p>
            <p>Features</p>
            <p>Size</p>
            <p>Special Features</p>                
        </div>

        <div id="view3">
            <b>Advanced</b>
            <p>We have an advanced version, <a href="http://www.menucool.com/jquery-tabs">McTabs - jQuery Tabs</a>, that is the most feature-rich Tabs.</p>
            <ul>
                <li>Ajax content</li>
                <li>Smooth transitional effect</li>
                <li>Auto advance</li>
                <li>Bookmark support: select a tab via bookmark anchor</li>
                <li>URL support: a hash id in the URL can select a tab</li>
                <li>Select tabs by mouse over</li>
                <li>... and more</li>                    
            </ul>
        </div>
        <div id="view4">
            <b>Local Shops</b>
                <div id="map_canvas"></div>
        </div>

    </div>
</div>

</div>
  


  